@import "tailwindcss";

 
      
   input[type='file']::file-selector-button {
      background-color: rgb(151, 236, 239);
      color:rgb(73, 73, 73);
      padding: 4px ;
      border:none ;
      border-radius: 4px;
      cursor:pointer;
      font-size: medium;
      font-weight: bold;
 
    }